<nav id="site-nav" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ site.BaseURL }}">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Game <b class="caret"></b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ site.BaseURL }}/introduction">Introduction</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/playing_the_game">Playing the Game</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/example">Example of Play</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/character_creation">Character Creation</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/moves">Moves</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/equipment">Equipment</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/moves_discussion">Discussion - Moves</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classes <b class="caret"></b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ site.BaseURL }}/classes/bard">Bard</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/classes/cleric">Cleric</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/classes/druid">Druid</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/classes/fighter">Fighter</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/classes/paladin">Paladin</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/classes/ranger">Ranger</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/classes/thief">Thief</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/classes/wizard">Wizard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/classes/cleric/spells">Cleric Spells</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/classes/wizard/spells">Wizard Spells</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/classes/class_moves_discussion">Discussion - Class Moves</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GM Section <b class="caret"></b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ site.BaseURL }}/gm/basics">Basics</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/gm/first_session">First Session</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/gm/fronts">Fronts</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/gm/the_world">The World</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/gm/advanced_delving">Advanced Delving</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Monsters <b class="caret"></b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ site.BaseURL }}/monsters/overview">Overview</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/monsters/caverns">Cavern Dwellers</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/monsters/folk">Folk of the Realm</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/monsters/woods">Gnarled Woods</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/monsters/undead">Legions of the Undead</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/monsters/depths">Lower Depths</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/monsters/planes">Planar Powers</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/monsters/hordes">Ravenous Hordes</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/monsters/swamp">Swamp Denizens</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/monsters/experiments">Twisted Experiments</a>
                </div>
            </li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Appendices <b class="caret"></b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ site.BaseURL }}/appendices/conversion">Conversion</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/appendices/teaching">Teaching the Game</a>
                    <a class="dropdown-item" href="{{ site.BaseURL }}/appendices/npcs">NPCs</a>
                </div>
            </li>
        </ul>
        <form class="form-inline" role="search" method="get" id="search" action="https://duckduckgo.com/">
            <input type="hidden" name="sites" value="{{ site.BaseURL }}">
            <input type="text" class="form-control" name="q" maxlength="255" placeholder="Search">
            <input type="submit" value="DuckDuckGo Search" style="display:none;">
        </form>
    </div><!-- /.navbar-collapse -->
</nav>
